BusinessCard {
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
    width: 300px;
    display: block;
    padding: 10pt;
    border: 1px solid teal;
    margin: 5px;
    text-align: left;

}
Name {
    color: royalblue;
    font-weight: bold;
    font-size: 140%;
    display: block;
    margin-bottom: 3%;
}

Phone{
    font-size: 90%;
    color: black;
    display: block;

}
email {
    color: blueviolet;
    display: block;
    font-size: 90%;
}

email::before{content: "email:"}
Phone::before{content: attr(type) ": ";}
Phone[primary]::after{content: " (" attr(primary) ")";}